<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudwalk.ibis.repository.recogSet.StepgroupRefMapper" >
  <resultMap id="BaseResultMap" type="com.cloudwalk.ibis.model.recogSet.StepgroupRef" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="STEPGROUP_ID" property="stepgroupId" jdbcType="VARCHAR" />
    <result column="STEP_ID" property="stepId" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    ID, STEPGROUP_ID, STEP_ID
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM CF_STEPGROUP_REF
    WHERE ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectStepByGroupId" parameterType="string" resultMap="BaseResultMap" resultType="map">
  	SELECT 
  	<include refid="Base_Column_List" /> 
  	FROM CF_STEPGROUP_REF
  	WHERE STEPGROUP_ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM CF_STEPGROUP_REF
    WHERE ID = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteStepGroupByGroupId" parameterType="java.lang.String" >
    DELETE FROM CF_STEPGROUP_REF
    WHERE STEPGROUP_ID = #{groupId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.cloudwalk.ibis.model.recogSet.StepgroupRef" >
    INSERT INTO CF_STEPGROUP_REF (
    	ID, 
    	STEPGROUP_ID, 
    	STEP_ID
      	)
    VALUES (
    	#{id,jdbcType=VARCHAR}, 
    	#{stepgroupId,jdbcType=VARCHAR}, 
    	#{stepId,jdbcType=VARCHAR}
      	)
  </insert>
   
  <update id="updateByPrimaryKey" parameterType="com.cloudwalk.ibis.model.recogSet.StepgroupRef" >
    UPDATE CF_STEPGROUP_REF 
    SET 
    	STEPGROUP_ID = #{stepgroupId,jdbcType=VARCHAR}, 
      	STEP_ID = #{stepId,jdbcType=VARCHAR} 
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>