<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudwalk.ibis.repository.queryStatisic.ChannelFlowCertificateFeatureMapper" >
  <!-- 分表返回类型 -->
  <resultMap id="BaseResultMap" type="com.cloudwalk.ibis.model.queryStatisic.ChannelFlowCertificateFeature" >
    <id column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
    <result column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
    <result column="FEATURE_ID" property="featureId" jdbcType="VARCHAR" />
    <result column="CMPSCORE" property="cmpscore" jdbcType="DECIMAL" />
    <result column="FEATURE_FILE_PATH" property="featureFilePath" jdbcType="VARCHAR" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 主表联合分表返回类型 -->
  <resultMap id="searchCertificateFeatureFlowAllResultMap" type="com.cloudwalk.ibis.model.queryStatisic.ChannelFlow" >
    <id column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
    <result column="LEGAL_ORG_CODE" property="legalOrgCode" jdbcType="VARCHAR" />
    <result column="CHANNEL" property="channel" jdbcType="VARCHAR" />
    <result column="BUSCODE" property="busCode" jdbcType="VARCHAR" />
    <result column="INTERVER_CODE" property="interVerCode" jdbcType="VARCHAR" />
    <result column="TRADING_CODE" property="tradingCode" jdbcType="VARCHAR" />
    <result column="ENGINE_TYPE" property="engineType" jdbcType="VARCHAR" />
    <result column="ENGINE_CODE" property="engineCode" jdbcType="VARCHAR" />
    <result column="ENGINEVER_CODE" property="engineVerCode" jdbcType="VARCHAR" />
    <result column="RECOGSTEP_ID" property="recogstepId" jdbcType="VARCHAR" />
    <result column="REQUEST_MSG" property="requestMsg" jdbcType="VARCHAR" />
    <result column="REPONSE_MSG" property="reponseMsg" jdbcType="VARCHAR" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
    <result column="ERROR_MSG" property="errorMsg" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
     <result column="CTFTYPE" property="ctftype" jdbcType="VARCHAR" />
    <result column="CTFNO" property="ctfno" jdbcType="VARCHAR" />
    <result column="CTFNAME" property="ctfname" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR" />
    <result column="TRADING_FLOW_NO" property="tradingFlowNo" jdbcType="VARCHAR" />
    <result column="TRADING_DATE" property="tradingDate" jdbcType="VARCHAR" />
    <result column="TRADING_TIME" property="tradingTime" jdbcType="VARCHAR" />
    <result column="EQUIPMENT_NO" property="equipmentNo" jdbcType="VARCHAR" />
    <result column="ORGANIZATION_NO" property="organizationNo" jdbcType="VARCHAR" />
    <result column="TELLER_NO" property="tellerNo" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    
    <result column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
    <result column="FEATURE_ID" property="featureId" jdbcType="VARCHAR" />
    <result column="CMPSCORE" property="cmpScore" jdbcType="VARCHAR" />
    <result column="FEATURE_FILE_PATH" property="featureFilePath" jdbcType="VARCHAR" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
  </resultMap>
  
   <!-- 基本查询列 -->
  <sql id="Base_Column_List" >
	   FLOW_ID AS flowId,PERSON_ID AS personId,FEATURE_ID AS featureId,FILE_PATH AS filePath,
	   CMPSCORE AS cmpscore,FEATURE_FILE_PATH AS featureFilePath, REMARK AS remark
  </sql>
  <!--  联合查询列 -->
  <sql id="searchCertificateFeature_Column_List" >
  (SELECT INTERFACE_NAME
          FROM CF_INTERFACE
         WHERE INTERFACE_CODE = T1.BUSCODE) AS interfaceName,
       T1.FLOW_ID AS flowId,
       (SELECT ORG_NAME
          FROM FND_ORGANIZATION
         WHERE ORG_CODE = T1.LEGAL_ORG_CODE) AS legalOrgCode,
       T1.CHANNEL AS channel,
       T1.BUSCODE AS busCode,
       (select VER_NO from CF_INTERFACE_VER where T1.INTERVER_CODE = VER_CODE and  T1.BUSCODE = INTERFACE_CODE) AS interVerCode,
       T1.TRADING_CODE AS tradingCode,
       T1.ENGINE_TYPE AS engineType,
      (select ENGINE_NAME from CF_ENGINE where    T1.ENGINE_CODE = ENGINE_CODE) AS engineCode,
      (SELECT VER_NO FROM CF_ENGINE_VER WHERE   T1.ENGINEVER_CODE = VER_CODE ) AS engineVerCode,
      (SELECT RECOGSTEP_NAME FROM CF_RECOGSTEP WHERE  T1.RECOGSTEP_ID = ID ) AS recogstepId,
       T1.RESULT AS result,
       T2.PERSON_ID AS personId,
       T2.FEATURE_ID AS featureId,
       T2.FILE_PATH AS filePath,
       T2.CMPSCORE AS cmpScore,
       T2.FEATURE_FILE_PATH AS featureFilePath,
       T1.CTFTYPE AS ctftype,
       T1.CTFNO AS ctfno,
       T1.CTFNAME AS ctfname,
       T1.CUSTOMER_ID AS customerId,
       T1.TRADING_FLOW_NO AS tradingFlowNo,
       T1.TRADING_DATE AS tradingDate,
       T1.TRADING_TIME AS tradingTime,
       T1.EQUIPMENT_NO AS equipmentNo,
       T1.ORGANIZATION_NO AS organizationNo,
       T1.TELLER_NO AS tellerNo,
       T1.CREATE_TIME AS createTime
  </sql>
  
  <!-- 根据流水id查询证脸比对流水表 -->
  <select id="selectCertificateFeatureFlowById" parameterType="java.lang.String" resultType="com.cloudwalk.ibis.model.queryStatisic.ChannelFlowCertificateFeature" >    
    SELECT
    <include refid="Base_Column_List" />
    FROM SS_CHANNELFLOW_CP 
    	WHERE FLOW_ID = #{flowId,jdbcType=VARCHAR}     	
  </select>
  
  <!--  向证脸比对流水表中插入数据 -->
  <insert id="insertSelective" parameterType="com.cloudwalk.ibis.model.queryStatisic.ChannelFlowCertificateFeature" >
    INSERT INTO SS_CHANNELFLOW_CP 
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="flowId != null" >FLOW_ID,</if>
		<if test="personId != null" >PERSON_ID,</if>
		<if test="featureId != null" >FEATURE_ID,</if>
		<if test="cmpscore != null" >CMPSCORE,</if>
		<if test="featureFilePath != null" >FEATURE_FILE_PATH,</if>
		<if test="filePath != null" >FILE_PATH,</if>
		<if test="remark != null" >REMARK,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="flowId != null" >#{flowId,jdbcType=VARCHAR},</if>
		<if test="personId != null" >#{personId,jdbcType=VARCHAR},</if>
		<if test="featureId != null" >#{featureId,jdbcType=VARCHAR},</if>
		<if test="cmpscore != null" >#{cmpscore,jdbcType=DECIMAL},</if>
		<if test="featureFilePath != null" >#{featureFilePath,jdbcType=VARCHAR},</if>
		<if test="filePath != null" >#{filePath,jdbcType=VARCHAR},</if>
		<if test="remark != null" >#{remark,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  <!--  主表和分表联查 -->
   <select id="searchCertificateFeatureFlowAll" parameterType="com.cloudwalk.ibis.model.queryStatisic.ChannelFlow" resultMap="searchCertificateFeatureFlowAllResultMap" >    
    SELECT
    <include refid="searchCertificateFeature_Column_List" />
      FROM SS_CHANNELFLOW T1,SS_CHANNELFLOW_CP T2
  		 WHERE 
  		    T1.FLOW_ID=T2.FLOW_ID
		    <if test="legalOrgCode != null and legalOrgCode != ''">
			   AND  T1.LEGAL_ORG_CODE LIKE '${legalOrgCode}%'
		    </if>
		    <if test="busCode != null and busCode != ''">
			   AND T1.BUSCODE = #{busCode,jdbcType=VARCHAR}
		    </if>
		    <if test="customerId != null and customerId != ''">
			   AND T1.CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
		    </if>
		    <if test="ctftype != null and ctftype != ''">
			   AND T1.CTFTYPE = #{ctftype,jdbcType=VARCHAR}
		    </if>
		    <if test="ctfno != null and ctfno != ''">
			   AND T1.CTFNO = #{ctfno,jdbcType=VARCHAR}
		    </if>
		    <if test="ctfname != null and ctfname != ''">
			   AND T1.CTFNAME =#{ctfname,jdbcType=VARCHAR}
		    </if>
		    <if test="beginTime != null and beginTime != ''">
			   <![CDATA[ AND T1.CREATE_TIME >= #{beginTime,jdbcType=TIMESTAMP}]]>
		    </if>
		    <if test="endTime != null and endTime != ''">
			   <![CDATA[ AND T1.CREATE_TIME <= #{endTime,jdbcType=TIMESTAMP}]]>
		    </if>
		    <if test="channel != null and channel != ''">
			   AND T1.CHANNEL = #{channel,jdbcType=VARCHAR}
		    </if>
		    <if test="tradingCode != null and tradingCode != ''">
		  	   AND T1.TRADING_CODE = #{tradingCode,jdbcType=VARCHAR}
		    </if>
		    <if test="tradingFlowNo != null and tradingFlowNo != ''">
			   AND T1.TRADING_FLOW_NO = #{tradingFlowNo,jdbcType=VARCHAR}
		    </if>
    ORDER BY T1.CREATE_TIME DESC
  </select>
  
  <!-- 删除流水信息 --> 
  <delete id="deleterFlowsByDate" parameterType="map">  	 
	 DELETE FROM SS_CHANNELFLOW_CP a 
     WHERE EXISTS (SELECT 1 FROM SS_CHANNELFLOW b WHERE a.FLOW_ID = b.FLOW_ID and b.CREATE_TIME &lt; #{createTime,jdbcType=TIMESTAMP})
   </delete>
  
</mapper>










