<div align="center">
	<form id="manage_stepGroup_editform" 
		th:action="@{/stepGroup/save}"  th:object="${sg}" 
		method="post">
		
		<input name="action" id="action" type="hidden" th:attr="value=${action}" />
		<input name="id" id="id" type="hidden" th:field="*{id}"/>
		<input type="hidden" name="stepsTemp" id="stepsTemp" th:field="*{stepsTemp}"/>
						
		<table class="tableForm edit" id="stepTable" width="100%">
			<tr>
				<th >策略组名称：</th>
				<td>
					<input class="easyui-textbox" id="stepgroupName" name="stepgroupName" th:field="*{stepgroupName}"  
						data-options="required:true,validType:['untable']" />
				</td>
				<th >备注：</th>
				<td>
					<input class="easyui-textbox" name="remark"  th:field="*{remark}" 
						data-options="validType:['untable','byteLength[1,128]']" />				
				</td>
			</tr>		
			<tr>
				<th>策略(多选)：</th>
				<td colspan="3">
					<select name="steps" id="steps" class="easyui-combobox"  style="width:95%" editable="false" 
						data-options="required:true">
										
					</select>  
				</td>
			</tr>				
			
					
		</table>
	</form>
</div>
<script type="text/javascript" src="../js/recogSet/stepGroupAdd.js" charset="utf-8"></script>